<form id="edit-skill-form">
    <div class="form-group">
        <label class="text">{{ localize "TVB.SkillName" }}</label>
        <input name="name" type="text" value="{{ skill.name }}" placeholder="{{ localize "TVB.DefaultSkillName" }}"/>
    </div>
    <div class="form-group">
        <label class="text">{{ localize "TVB.DefaultStat" }}</label>
        <select name="stat">
            {{#select skill.stat}}
                {{#each constants.STATS as |stat statKey|}}
                    <option value="{{statKey}}">{{stat}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label class="text">{{ localize "TVB.Rank" }}</label>
        <input name="rank" type="number" data-dtype="Number" value="{{ skill.rank }}" style="width: 30px"/>
    </div>
    <div class="form-group">
        <label class="text">{{ localize "TVB.Description" }}</label>
        <input name="description" type="text" value="{{ skill.description }}"/>
    </div>
</form>
